.travel_mainDiv{
    border: 2px dotted #f2aaa5;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.travel_mainDiv img{
    width: 100%;
}
.travel_mainDiv hr{
    width: 250px;
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin-left: 20px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: dimgray;
}
.environment_li{
    margin-top: 20px;
}
.environment_li h4{
    border-bottom: 2px solid darkblue;
    padding: 8px;
}
#contact iframe{
    width: 100%;
}
.contact_1 h3{
    display: inline;
    font-family: cursive;
}
.contact_1 a{
    text-shadow: none;
    
}
.header-entepreneuar{
    line-height: 2;
}
.book{
    cursor: pointer;
    
}
.book hr{
    margin-bottom: 10px;
    
}
.modal-content{
    margin-top: 100px;
    
}
.img_modal{
   display: inline-block;
    width: 391px;
    height: 499px;
}
.p_modal{
    margin-top: 10px;
}
.modal-body{
    text-align: center;
}